body{
    background-color: #698269;
    text-align: center;
    background-image: url('newyork.jpeg');
    width: 100%;
}
h1{
    font-size: 7vw;
    font-weight: bold;
    color:#a2e3e9;
    font-family: 'Merriweather', cursive;
    margin-top: 5%;
}

h2{
    color: #fdfcee;
    margin-top: 50px;
    margin-left: 25%;
    font-size: 3vw;
    font-family: 'Roboto', sans-serif;
    border: solid;
    border-radius: 25px;
    background-color: #62516e;
    width: 50%;
    padding: 25px 0 25px 0; 
    
}

.family-container{
    margin: 5% 25% 0 25%;
}

.generatebutton{
    
    background-color: #1c1a28;
    
}

.reload{
    
    margin: auto;
    background-color: #1c1a28;
}