body{
    background-color: #698269;
    text-align: center;
    background-image: url('newyork.jpeg');
}
h1{
    font-size: 5rem;
    font-weight: bold;
    color: #F1DBBF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5%;
}

h2{
    color: white;
    margin-top: 50px;
    margin-left: 25%;
    font-size: 3.5rem;
    border: solid;
    border-radius: 25px;
    background-color: #5e506e;
    width: 50%;
    padding: 25px 0 25px 0; 
    
}

.family-container{
    margin: 0 25% 0 25%;
}

.generatebutton{
    
    background-color: #1c1a28;
    
}

.reload{
    
    margin: auto;
    background-color: #1c1a28;
}